In [6]:
# some useful mysklearn package import statements and reloads
import importlib

import mysklearn.myutils
importlib.reload(mysklearn.myutils)
import mysklearn.myutils as myutils

# uncomment once you paste your mypytable.py into mysklearn package
import mysklearn.mypytable
importlib.reload(mysklearn.mypytable)
from mysklearn.mypytable import MyPyTable 

import mysklearn.myruleminer
importlib.reload(mysklearn.myruleminer)
from mysklearn.myruleminer import MyAssociationRuleMiner

# Step 1: ðŸš¢ Titanic Rule Mining ðŸš¢

#### Question 1 -> Do the results make sense to you?
#### Answer 1 -> The 18 rules that my algorithm gave me (using minsup = 0.25, and minconf = 0.80)did make sense to me, and were they were expected. I've seen the movie Titanic by James Cameron, and from watching it I know that those who were selected to be on the life rafts were almost all women or children. And if men were put on the life rafts, it was because they were first class. The produced rules support the fact that women were favored. Rule #15 says that IF survived=yes THEN sex=female. Also show that those who did not survive were adults. Rule #11 says that IF survived=no THEN age=adult. We don't see any age=child results, but that is because the support is 0.25, and less than 25 percent of the passengers on board the titanic were children. If we change the minsup and minconf values, we will see more rules produced, and they will include children.

#### Question 2 -> How do they compare to PA7 Results?
#### Answer 2 -> I did not finish PA7, but by talking to my peers in the class, it sounds like the results from PA8 closely resemble those produced by their Decision Classifer Trees in PA7.

In [7]:
#reload imports 
importlib.reload(mysklearn.myutils)
importlib.reload(mysklearn.myruleminer)
from mysklearn.myruleminer import MyAssociationRuleMiner # might need () at end

file_name = ("input_data/titanic.csv")
table = MyPyTable().load_from_file(file_name)
header = ["class", "age", "sex", "survived"]
myutils.prepend_attribute_label(table.data, header)
#MyAssociationRuleMiner().print_association_rules(table.data)
MyAssociationRuleMiner().print_association_rules()

TypeError: 'NoneType' object is not iterable

In [110]:
importlib.reload(mysklearn.myutils)
importlib.reload(mysklearn.myruleminer)
from mysklearn.myruleminer import MyAssociationRuleMiner # might need () at end

file_name = ("input_data/titanic.csv")
table = MyPyTable().load_from_file(file_name)
header = ["class", "age", "sex", "survived"]
myutils.prepend_attribute_label(table.data, header)
#MyAssociationRuleMiner().print_association_rules(table.data)

the_class = table.get_column("class")
the_age = table.get_column("age")
the_sex = table.get_column("sex")
the_survived = table.get_column("survived")


MyAssociationRuleMiner().print_association_rules(table.data)

  #  Rule                                                             Support    Confidence      Lift
---  -------------------------------------------------------------  ---------  ------------  --------
  1  IF class=second THEN age=adult                                  0.284871      0.888102  0.299713
  2  IF class=third THEN age=adult                                   0.40209       1         0.42304
  3  IF class=third THEN age=adult AND sex=female                    0.39164       0.974011  0.517097
  4  IF age=adult AND class=third THEN sex=female                    0.39164       0.974011  0.497978
  5  IF class=third AND sex=female THEN age=adult                    0.39164       1         0.412046
  6  IF class=third AND survived=yes THEN age=adult                  0.30577       1         0.321702
  7  IF sex=female THEN age=adult                                    0.757383      0.963027  0.796845
  8  IF survived=yes THEN age=adult AND sex=female                   0.603816      0.891946  0.797241
  9  IF age=adult AND survived=yes THEN sex=female                   0.603816      0.9242    0.767764
 10  IF sex=female AND survived=yes THEN age=adult                   0.603816      0.97434   0.635277
 11  IF survived=no THEN age=adult                                   0.297138      0.919831  0.31262
 12  IF survived=yes THEN age=adult                                  0.653339      0.965101  0.68738
 13  IF class=third THEN sex=female                                  0.39164       0.974011  0.497978
 14  IF class=third AND survived=yes THEN sex=female                 0.304407      0.995542  0.38706
 15  IF survived=yes THEN sex=female                                 0.619718      0.915436  0.787984
 16  IF class=third AND survived=yes THEN age=adult AND sex=female   0.304407      0.995542  0.40192
 17  IF age=adult AND class=third AND survived=yes THEN sex=female   0.304407      0.995542  0.38706
 18  IF class=third AND sex=female AND survived=yes THEN age=adult   0.304407      1         0.320268

#### Question 3 -> How did altering different minsup and minconf change rules?
#### Answer 3 -> I noticed that by lowering the minsup and minconf values, the amount of rules produced increased. Below, I changed the minsup value to 0.01 and the minconf value to 0.7. The number of rules increased from 18 to 103. I also found out some pretty interesting stuff like the confidence value being 1 on Rule #41, which stated that IF age=child AND class=first THEN survived=no. I would have thought that all children that were first class would have survived, but none of them did apparently. Pretty sad. Also, I thought Rule #42 stating that IF age=child THEN class=second having a confidence value of roughly 0.72 was interesting. I did not know that over 70 percent of children aboard Titanic were second class. I also made the minsup and minconf much higher with minsup going to 0.5 and minconf going to 0.9. Only 5 rules were produced, which is to be expected. Higher the minsup and monconf, fewer the rules. I found that if rules exist with high minsup and minconf values, they will still exist if we lower the minsup and minconf values.

In [111]:
robot = MyAssociationRuleMiner()
robot.__init__(0.01, 0.7)
robot.print_association_rules(table.data)

  #  Rule                                                              Support    Confidence       Lift
---  --------------------------------------------------------------  ---------  ------------  ---------
  1  IF class=crew THEN age=adult                                    0.144934       0.981538  0.152486
  2  IF class=crew AND sex=female THEN age=adult                     0.0795093      0.972222  0.083652
  3  IF class=crew AND sex=male THEN age=adult                       0.0654248      0.993103  0.0688337
  4  IF class=crew AND survived=no THEN age=adult                    0.0895048      0.970443  0.0941683
  5  IF class=crew AND survived=yes THEN age=adult                   0.0554294      1         0.0583174
  6  IF class=first THEN age=adult                                   0.118582       0.915789  0.124761
  7  IF class=first AND sex=female THEN age=adult                    0.0763289      0.938547  0.0803059
  8  IF class=first AND sex=male THEN age=adult                      0.0422535      0.877358  0.0444551
  9  IF class=first AND survived=no THEN age=adult                   0.0427079      0.79661   0.0449331
 10  IF class=first AND survived=yes THEN age=adult                  0.0758746      1         0.0798279
 11  IF class=second THEN age=adult                                  0.284871       0.888102  0.299713
 12  IF age=adult AND class=second THEN sex=female                   0.209905       0.736842  0.266898
 13  IF class=second AND sex=female THEN age=adult                   0.209905       0.905882  0.220841
 14  IF class=second AND sex=male THEN age=adult                     0.0749659      0.841837  0.0788719
 15  IF class=second AND survived=no THEN age=adult                  0.0686052      0.848315  0.0721797
 16  IF age=adult AND class=second THEN survived=yes                 0.216265       0.759171  0.319463
 17  IF class=second AND survived=yes THEN age=adult                 0.216265       0.901515  0.227533
 18  IF class=third THEN age=adult                                   0.40209        1         0.42304
 19  IF class=third THEN age=adult AND sex=female                    0.39164        0.974011  0.517097
 20  IF age=adult AND class=third THEN sex=female                    0.39164        0.974011  0.497978
 21  IF class=third AND sex=female THEN age=adult                    0.39164        1         0.412046
 22  IF class=third AND sex=male THEN age=adult                      0.0104498      1         0.0109943
 23  IF class=third AND survived=no THEN age=adult                   0.0963199      1         0.101338
 24  IF class=third THEN age=adult AND survived=yes                  0.30577        0.760452  0.468011
 25  IF age=adult AND class=third THEN survived=yes                  0.30577        0.760452  0.451678
 26  IF class=third AND survived=yes THEN age=adult                  0.30577        1         0.321702
 27  IF age=adult THEN sex=female                                    0.757383       0.796845  0.963027
 28  IF sex=female THEN age=adult                                    0.757383       0.963027  0.796845
 29  IF sex=female AND survived=no THEN age=adult                    0.153567       0.920981  0.161568
 30  IF sex=female THEN age=adult AND survived=yes                   0.603816       0.767764  0.9242
 31  IF survived=yes THEN age=adult AND sex=female                   0.603816       0.891946  0.797241
 32  IF age=adult AND sex=female THEN survived=yes                   0.603816       0.797241  0.891946
 33  IF age=adult AND survived=yes THEN sex=female                   0.603816       0.9242    0.767764
 34  IF sex=female AND survived=yes THEN age=adult                   0.603816       0.97434   0.635277
 35  IF sex=male THEN age=adult                                      0.193094       0.904255  0.203155
 36  IF age=adult AND sex=male THEN survived=no                      0.143571       0.743529  0.444444
 37  IF sex=male AND survived=no THEN age=adult                      0.143571       0.918605  0.151052
 38  IF sex=male AND survived=yes THEN age=adult                     0.0495229      0.865079  0.0521033
 39  IF survived=no THEN age=adult                                   0.297138       0.919831  0.31262
 40  IF survived=yes THEN age=adult                                  0.653339       0.965101  0.68738
 41  IF age=child AND class=first THEN survived=no                   0.0109041      1         0.0337553
 42  IF age=child THEN class=second                                  0.0358928      0.724771  0.111898
 43  IF age=child AND sex=female THEN class=second                   0.0218083      0.75      0.0679887
 44  IF age=child AND survived=yes THEN class=second                 0.0236256      1         0.0736544
 45  IF class=crew AND survived=yes THEN sex=female                  0.053612       0.967213  0.0681687
 46  IF class=crew AND sex=male THEN survived=no                     0.0640618      0.972414  0.198312
 47  IF class=first AND sex=female THEN survived=yes                 0.0699682      0.860335  0.103356
 48  IF class=first AND survived=yes THEN sex=female                 0.0699682      0.922156  0.0889659
 49  IF class=first AND sex=male THEN survived=no                    0.0422535      0.877358  0.130802
 50  IF class=first AND survived=no THEN sex=male                    0.0422535      0.788136  0.197872
 51  IF class=second THEN sex=female                                 0.231713       0.72238   0.294627
 52  IF class=second AND sex=female THEN survived=yes                0.191731       0.827451  0.283221
 53  IF class=second AND survived=yes THEN sex=female                0.191731       0.799242  0.24379
 54  IF sex=male AND survived=yes THEN class=second                  0.0481599      0.84127   0.150142
 55  IF class=second THEN survived=yes                               0.239891       0.747875  0.354362
 56  IF class=third THEN sex=female                                  0.39164        0.974011  0.497978
 57  IF class=third AND survived=no THEN sex=female                  0.0872331      0.90566   0.110919
 58  IF class=third THEN sex=female AND survived=yes                 0.304407       0.757062  0.491202
 59  IF class=third AND sex=female THEN survived=yes                 0.304407       0.777262  0.449664
 60  IF class=third AND survived=yes THEN sex=female                 0.304407       0.995542  0.38706
 61  IF class=third THEN survived=yes                                0.30577        0.760452  0.451678
 62  IF sex=female THEN survived=yes                                 0.619718       0.787984  0.915436
 63  IF survived=yes THEN sex=female                                 0.619718       0.915436  0.787984
 64  IF sex=male THEN survived=no                                    0.156293       0.731915  0.483826
 65  IF class=crew AND sex=female AND survived=no THEN age=adult     0.0258973      0.919355  0.0272467
 66  IF class=crew AND survived=yes THEN age=adult AND sex=female    0.053612       0.967213  0.0707858
 67  IF age=adult AND class=crew AND survived=yes THEN sex=female    0.053612       0.967213  0.0681687
 68  IF class=crew AND sex=female AND survived=yes THEN age=adult    0.053612       1         0.0564054
 69  IF class=crew AND sex=male THEN age=adult AND survived=no       0.0636075      0.965517  0.214067
 70  IF age=adult AND class=crew AND sex=male THEN survived=no       0.0636075      0.972222  0.196906
 71  IF age=adult AND class=crew AND survived=no THEN sex=male       0.0636075      0.71066   0.297872
 72  IF class=crew AND sex=male AND survived=no THEN age=adult       0.0636075      0.992908  0.0669216
 73  IF class=first AND sex=female THEN age=adult AND survived=yes   0.0699682      0.860335  0.107093
 74  IF class=first AND survived=yes THEN age=adult AND sex=female   0.0699682      0.922156  0.0923815
 75  IF age=adult AND class=first AND sex=female THEN survived=yes   0.0699682      0.916667  0.103356
 76  IF age=adult AND class=first AND survived=yes THEN sex=female   0.0699682      0.922156  0.0889659
 77  IF class=first AND sex=female AND survived=yes THEN age=adult   0.0699682      1         0.0736138
 78  IF class=first AND sex=male THEN age=adult AND survived=no      0.0363471      0.754717  0.122324
 79  IF age=adult AND class=first AND sex=male THEN survived=no      0.0363471      0.860215  0.112518
 80  IF age=adult AND class=first AND survived=no THEN sex=male      0.0363471      0.851064  0.170213
 81  IF class=first AND sex=male AND survived=no THEN age=adult      0.0363471      0.860215  0.0382409
 82  IF class=second AND sex=female AND survived=no THEN age=adult   0.0340754      0.852273  0.0358509
 83  IF class=second AND sex=female THEN age=adult AND survived=yes  0.175829       0.758824  0.269124
 84  IF class=second AND survived=yes THEN age=adult AND sex=female  0.175829       0.732955  0.232154
 85  IF age=adult AND class=second AND sex=female THEN survived=yes  0.175829       0.837662  0.259732
 86  IF age=adult AND class=second AND survived=yes THEN sex=female  0.175829       0.813025  0.22357
 87  IF class=second AND sex=female AND survived=yes THEN age=adult  0.175829       0.917062  0.18499
 88  IF class=second AND sex=male AND survived=no THEN age=adult     0.0345298      0.844444  0.0363289
 89  IF sex=male AND survived=yes THEN age=adult AND class=second    0.0404362      0.706349  0.141946
 90  IF age=adult AND sex=male AND survived=yes THEN class=second    0.0404362      0.816514  0.126062
 91  IF class=second AND sex=male AND survived=yes THEN age=adult    0.0404362      0.839623  0.042543
 92  IF class=third AND survived=no THEN age=adult AND sex=female    0.0872331      0.90566   0.115177
 93  IF age=adult AND class=third AND survived=no THEN sex=female    0.0872331      0.90566   0.110919
 94  IF class=third AND sex=female AND survived=no THEN age=adult    0.0872331      1         0.0917782
 95  IF class=third THEN age=adult AND sex=female AND survived=yes   0.304407       0.757062  0.504138
 96  IF age=adult AND class=third THEN sex=female AND survived=yes   0.304407       0.757062  0.491202
 97  IF class=third AND sex=female THEN age=adult AND survived=yes   0.304407       0.777262  0.465925
 98  IF class=third AND survived=yes THEN age=adult AND sex=female   0.304407       0.995542  0.40192
 99  IF age=adult AND class=third AND sex=female THEN survived=yes   0.304407       0.777262  0.449664
100  IF age=adult AND class=third AND survived=yes THEN sex=female   0.304407       0.995542  0.38706
101  IF class=third AND sex=female AND survived=yes THEN age=adult   0.304407       1         0.320268
102  IF age=child AND class=second AND sex=female THEN survived=yes  0.0159019      0.729167  0.0234899
103  IF age=child AND sex=female AND survived=yes THEN class=second  0.0159019      1         0.0495751

In [112]:
alien = MyAssociationRuleMiner()
alien.__init__(0.5, 0.9)
alien.print_association_rules(table.data)

  #  Rule                                             Support    Confidence      Lift
---  ---------------------------------------------  ---------  ------------  --------
  1  IF sex=female THEN age=adult                    0.757383      0.963027  0.796845
  2  IF age=adult AND survived=yes THEN sex=female   0.603816      0.9242    0.767764
  3  IF sex=female AND survived=yes THEN age=adult   0.603816      0.97434   0.635277
  4  IF survived=yes THEN age=adult                  0.653339      0.965101  0.68738
  5  IF survived=yes THEN sex=female                 0.619718      0.915436  0.787984